# Compiled class files
*.class

# Bin directory
bin/

# JavaFX SDK
javafx-sdk/
javafx-sdk-temp/
javafx-sdk-new.zip
javafx-sdk.zip

# H2 database files
*.db
*.trace.db

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
